[client]
port = 3306

[mysql]
prompt = '\\u@\\h [\\d] > '
default_character_set = utf8mb4

[mysqld]
port = 3306
character_set_server = utf8mb4
default_storage_engine = InnoDB
lower_case_table_names = 1

[libmysqlclient]
default-character-set = utf8mb4
